<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commander Selector</title>
</head>
<body>
    <h1>Welcome to my Commader Project</h1>

    <br><br>

    <button id="random-btn">Random</button>

    <br><br>

    <a id="card-link" href="#" target="_blank" style="display: none;">
    <img id="card-image" src="" alt="Card Image" style="max-width: 400px;">
    </a>

    <br><br>

    <p>A BainneBoi creation</p>
</body>
<script>
    document.getElementById("random-btn").addEventListener("click", function() {
            fetch("/get-card")
                .then(response => response.json())
                .then(data => {
                    console.log("Data received from /get-card:", data);
                    if (data.card_url && data.scryfall_url) {
                        const cardImage = document.getElementById("card-image");
                        const cardLink = document.getElementById("card-link");

                        cardLink.href = data.scryfall_url;
                        cardImage.src = data.card_url;

                        cardLink.style.display = "block";
                    } else {
                        alert("Error fetching card.");
                    }
                })
                .catch(error => console.error("Error:", error));
        });
</script>
</html>